.kaufman {
  padding: 90px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
  overflow: hidden;
  background-color: #1f1f1f;
}
