/* (!!) — means I (probly) need to fulfill some commons, reusables etc. to be beautiful */
/* (!) — stands for 'improve this' */

/* some written in english 'cause i want to use only one language as we're all understand it's way too comfortable */
/* by now русский язык использую как пояснения, однако структурно гораздо понятнее и лаконичнее строится мысль на наиболее юзабельном языке
так что я продолжу использовать английский как naming-tool для описания, так как он препятствует неточностям
и надеюсь получить здесь фидбэк если так делать не надо/не принято */

/* reset */

.header__title, .header__subtitle,
.two-columns__brief, .two-columns__paragraph,
.section-title, .section-subtitle,
.table__heading, .table__text,
.feynman__title, .feynman__subtitle,
.footer__author, .footer__column-heading, .footer__column-links {
  margin: 0;
  padding: 0;
}
/* теперь в макете будут только те отступы, которые мы сами добавим */

/* colorway */

.header, .feynman {
  background-color: #f2f2f2;
}

.kaufman, .footer {
  background-color: #1f1f1f;
}

.header__link,
.two-columns__brief,
.feynman__link {
  color: #2f80ed;
}

.section-title_theme_dark, .section-subtitle_theme_dark, .table__cell_theme_dark {
  color: white;
}

/* line-height */

.header__subtitle, .footer__author {
  line-height: 25px;
}

.two-columns__brief, .table__text {
  line-height: 1.2;
}

.two-columns__main-text, .section-subtitle {
  line-height: 34px;
}

.section-title, .table__heading, .feynman__title {
  line-height: 1.15;
}

.feynman__subtitle, .feynman__link {
  line-height: 51px;
  font-size: 36px;
}

.footer__column-heading, .footer__column-link {
  line-height: 30px;
}

/* font-size */

.header__subtitle, .two-columns__brief, .table__text, .footer__author, .footer__column-heading, .footer__column-link {
  font-size: 18px;
}

.two-columns__main-text, .section-subtitle, .table__heading {
  font-size: 24px;
}

.section-title {
  font-size: 60px;
}

/* links */

.header__link,
.feynman__link,
.footer__author,
.footer__column-link {
  text-decoration: none;
}

/* такая группировка чаще может быть излишней, ведь она не так длинна но вниз код таки удлинняет, причём x4-x10
однако здесь будет удобно видно псевдоклассы и псевдоэлементы */

.header__link:hover,
.feynman__link:hover,
.footer__author:hover,
.footer__column-link:hover {
  text-decoration: underline;
}

.header__link:hover::before {
  content: none;
}

.header__link::after,
.feynman__link::after {
  content: ' \2192';
}

/* reusable */

.logo {
  min-width: 183px;
  min-height: 32px;
  background-repeat: no-repeat;
}

.section-title, .section-subtitle {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.section-title, .table__heading, .table__text {
  margin-bottom: 20px;
}

.table {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
  list-style-type: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;

}

/* sections common flex */

.description, .digits, .kaufman, .footer {
  display: flex;
  justify-content: center;
}

/* container styles */

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* body */
/* header */ 

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.logo_place_header {
  background-image: url('../images/logo_place_header.svg');
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  height: fit-content;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  align-self: center;
  margin-left: 64px;
  font-weight: bold;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: -2;
}

/* main */
/* description */

.two-columns {
  width: 80%;
  min-width: 784px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 0;
}

.two-columns__brief {
  width: 175px;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
}

.two-columns__paragraph {
  margin-bottom: 30px;
  
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

/* digits */

.digits {
  padding: 100px 0;
  flex-direction: column;
  align-items: center;
}

/* feynman */

.feynman {
  min-height: 790px;
  padding-top: 100px;
  position: relative;
  z-index: 0;
}

.feynman__title, .feynman__subtitle {
  margin: 0 auto;
  text-align: center;
}

.feynman__title {
  width: 648px;
  font-size: 120px;
}

.feynman__subtitle {
  margin-top: 70px;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;

}

.feynman__main-illustration {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* kaufman */

.kaufman {
  padding: 90px 0;
  position: relative;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  overflow: hidden;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
  overflow: hidden;
  background-image: url('../images/kaufman-triangle.svg');
}

/* footer */

.footer {
  min-height: 350px;
}

.footer__columns {
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  color: white; 
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.logo_place_footer {
  height: 35px;
  background-image: url('../images/logo_place_footer.svg');
}

.footer__author {
  color: white;
  margin: 18px 0;
}

.footer__column-heading {
  margin-bottom: 20px;
}

.footer__column-links {
  margin-bottom: 16px;
  list-style: none;
}

.footer__column-link {
  color: white;
  display: flex;
  align-items: center;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-repeat: no-repeat;
  display: inline-block;
}

.footer__social-icon_of_vk {
  background-image: url('../images/vk_color_white.svg');
}

.footer__social-icon_of_inst {
  background-image: url('../images/instagram_color_white.svg');
}

.footer__social-icon_of_fb {
  background-image: url('../images/facebook_color_white.svg');
}
