.khan__buy-link {
  margin: 0;
  padding: 0;
  line-height: 40px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.khan__buy-link::after {
  content: ' \2192';
}